@using Microsoft.AspNetCore.Components.Routing

<div class="nav">
    <NavLink class="ni" href="" Match="NavLinkMatch.All" ActiveClass="on">
        <span class="ico">🏠</span>
        <span class="lbl">Accueil</span>
        <div class="ndot"></div>
    </NavLink>
    
    <NavLink class="ni" href="session" ActiveClass="on">
        <span class="ico">🎮</span>
        <span class="lbl">Partie</span>
        <div class="ndot"></div>
    </NavLink>
    
    <NavLink class="ni" href="history" ActiveClass="on">
        <span class="ico">📋</span>
        <span class="lbl">Histo.</span>
        <div class="ndot"></div>
    </NavLink>
    
    <NavLink class="ni" href="settings" ActiveClass="on">
        <span class="ico">⚙️</span>
        <span class="lbl">Réglages</span>
        <div class="ndot"></div>
    </NavLink>
</div>
